
<div class="backgroundIMG"><img src="{{backgroundImg}}"></div>
<div class="container-fluid top100">
    <div class="row">
        <div class="col-sm-1"></div><!--Falls der Bildschirm grösser als 780px ist, wird auf der linken Seite eine leere box von 2Einheiten eingefügt-->
        <p class="welcomeText col-sm-10 hidden-xs">{{KursInformation}}</p><!--Gibt die Überschrift an, falls der Bildschirm mehr als 768px ist, ist dieser 8 Einheiten breit, falls weniger als 768px, dann 12 Einheiten-->
    </div>
    <div class="row"><!-- Definiert die Grosse Messagebox, bei der der Text eingefügt wird-->
        <div name="height-sidebar" [style.height.px]="innerHeight" class="sidebar-resources-categories max-width-sprechblase center-block"><!--Definiert die Sprechblase-->
            <div class="Chat-Content" id="chatGoesHere" ><!-- in dieses DIV werden die Chatnachrichten eingefügt -->
            </div>
        </div>
    </div>
</div>


