
<div class="backgroundIMG"><img src="{{backgroundImg}}"></div>
<div class="container-fluid top100">
    <div class="row">
        <div class="col-sm-1"></div><!--Falls der Bildschirm grösser als 780px ist, wird auf der linken Seite eine leere box von 2Einheiten eingefügt-->
        <p class="welcomeText col-sm-10 hidden-xs">{{KursInformation}}</p><!--Gibt die Überschrift an, falls der Bildschirm mehr als 768px ist, ist dieser 8 Einheiten breit, falls weniger als 768px, dann 12 Einheiten-->
    </div>
        <div class="row"><!-- Definiert die Grosse Messagebox, bei der der Text eingefügt wird-->
        <div name="height-sidebar" [style.height.px]="innerHeight" class="sidebar-resources-categories max-width-sprechblase center-block"><!--Definiert die Sprechblase-->
            <div class="Chat-Content" id="chatGoesHere" ><!-- in dieses DIV werden die Chatnachrichten eingefügt -->
                    <div class="bubble"><div class="chat_receive"><div class="chat_receive_username">{{user1}}:</div><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'</div></div></div>
                    <div class="bubble"><div class="chat_receive"><div class="chat_receive_username">{{user2}}:</div><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div></div>
                    <div class="bubble"><div class="chat_receive"><div class="chat_receive_username">{{user1}}:</div> wie geht's</div></div>
            </div>
        </div>
    </div>
</div>

