<!--The content below is only a placeholder and can be replaced.-->
<app-header (logoutHeaderCommand)=getLoginWindow($event) [headerUserNameInput]=userName></app-header>
<app-content [setMessageUserInput]=userMessage [ClearCommand]=logOff (clearMessage)=clearMessageFunc($event)></app-content>

<app-messagebox (userNameChange)=getUserName($event) (sendMessage)=getMessage($event) [viewLoginWindow]=logOff></app-messagebox><!--username change in message.component.ts, getusername in app.component.ts-->
<app-footer></app-footer>
